<div class="container">
    <div class="row">
        <div class="col-md-4">
            <%= image_tag 'hipster.jpg', class: "img-responsive" %>
            <small>Yep, those are fake hipster glasses.</small>
        </div><!-- col-md-4 -->
        <div class="col-md-8">
            <h1>I'm Marko Manojlovic.</h1>
            <p>I enjoy learning new things.</p>
            <hr>
            <h3>My Storry</h3>
            <p>I grew up in a small and proud Eastern European country - Serbia. </p>
            
            
        </div>
    </div>
</div>