<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Projects I'm Working On</h1>
        </div>
        <hr>
    </div>
     <div class="row">
        <div class="col-md-3">
            <h3>Discover City</h3>
        </div>
        <div class="col-md-9">
            <p>About Discover City</p>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-3">
            <h3>The Cookie Apps</h3>
        </div>
        <div class="col-md-9">
            <p>About Cookie Apps</p>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-3">
            <h3>The Cookie Dining</h3>
        </div>
        <div class="col-md-9">
            <p>About Cookie Dining</p>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-3">
            <h3>The Cookie Gateway</h3>
        </div>
        <div class="col-md-9">
            <p>About Cookie Gateway</p>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-3">
            <h3>Tradesgram</h3>
        </div>
        <div class="col-md-9">
            <p>About Tradesgram</p>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-3">
            <h3>Mothers Bookkeeping</h3>
        </div>
        <div class="col-md-9">
            <p>About Mothers Bookkeeping</p>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-3">
            <h3>PBC Zap</h3>
        </div>
        <div class="col-md-9">
            <p>About PBC Zap</p>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-3">
            <h3>HipsterDolly</h3>
        </div>
        <div class="col-md-9">
            <p>About HipsterDolly</p>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-3">
            <h3>D-Lux Design</h3>
        </div>
        <div class="col-md-9">
            <p>About D-Lux Design</p>
        </div>
    </div><!-- row -->
</div>