<footer class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p>© 2016, Marko Manojlovic. | <% if user_signed_in? %>
                                                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
                                            <% else %>
                                              <%= link_to('login', new_user_session_path) %>
                                            <% end %>
            </p>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <p>Yes, this is yet another 'Built with <i class="fa fa-heart" style="color: red;"></i> using Bootstrap' website.</p>
            <p><small>Feel free to use anything from this website, if you find it useful. <a href="http://www.urbandictionary.com/define.php?term=sharing+is+caring" target="_blank">Sharing is caring</a>.</small></p>
        </div>
    </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76239640-1', 'auto');
  ga('send', 'pageview');

</script>